/*BODY*/

body
{
    background-color: none;
}

/* unvisited link */
a
{
  color: dodgerblue;
}

a:hover 
{
    color: black;
    text-decoration: none;
}

p, ol
{
    color: dimgray;
    margin: 0.5em auto 0.5em auto;
}

ul
{
    color: dimgray;
    margin: 1em auto 1em auto;
}

h5, h6
{
    color: dimgray;
    margin: 2em auto 0.5em auto;
}

.nospace
{
    color: dimgray;
    margin: auto auto auto auto;
}

.bg-color 
{
    color: #FFFFFF;
}

.container 
{
    margin: 3em auto auto auto;
}

.title
{
    font-size: x-large;
    margin: 2em auto 2em auto;
    text-align: center;
    color: dimgrey;
}

.text-left
{
/*    margin-right: 0;*/
    float: left;
}

.text-right
{
/*    margin-right: 0;*/
    float: right;
}

.math
{
    text-align: center;
    font-size: 1.2em;
    margin: 0.5em auto 0.5em auto;
}

.prev-next
{
    height: 2em;
}

/*MEDIA*/
.vid
{
    align-content: center;
    margin: auto auto auto auto;
}

.image-div
{
    width: 100%;  
    height: auto;
    text-align: center;
    margin: 2em auto 2em auto;
}

img
{
    max-width: 100%;
}



/*FONTAWESOME*/
.fab
{
    position: relative;
    bottom: 0em;
}

.icon-cog
{
  color : dodgerblue;
}


/*NAVIGATION*/
.navbar 
{
    margin: auto auto 1em auto;
}

.navbar-brand
{
    font-size: xx-large;
}

.navbar-nav 
{
    margin: auto 0em 0em auto;
}

.logo 
{
    max-height: 75px;
    align-content: center;
}

.nav-item
{
    margin: auto auto auto auto;
}

.nav-hr
{
    margin: auto auto 2em auto;
}


/*THUMBNAILS*/
.row>div
{
    background-color: #FFFFFF;
    background-clip: content-box;
    min-height: 100px;
}

.row 
{
    border: 1px #ccc;
    border-left: 0;
    border-right: 0;
}

.hr 
{
    color:  #FF0000;
    margin: 3em auto 3em auto;
}

.img-thumbnail 
{
    margin: 1em auto auto auto;
    align-content: center;
}

.thumb-heading
{
    margin: 0.5em auto 0.5em auto;
    color: dodgerblue;
}

.caption 
{
    margin: auto auto 4em auto;
    text-align: left;
}

.fig-caption 
{
    margin: auto auto 4em auto;
    text-align: center;
    font-size: 12px;
}

.extra-space
{
    margin: 1em auto 1em auto;
}


/*FOOTER*/
#footer-placeholder
{
    margin: auto auto auto auto;
}

.page-footer
{
    margin: 5em auto 0em auto;
    
}

.footer-title
{
    margin: 1em auto 0.5em auto;
}

.footer-hr
{
    margin: 5em auto auto auto;
}

.footer-link
{
    margin: auto auto 5px auto;
}


/*TABLES*/
table 
{
    border-collapse: collapse;
    width: 100%;
    margin: 1em auto 1em auto;
}

th
{
    margin: 1em auto 0.5em auto;
    color: dimgray;
}

tr {
    border-bottom: 1px dotted #ccc;
}

.table-var
{
    max-width:100%;
    white-space:nowrap;
    padding-right: 2em;
}
