/*BODY*/

body
{
    background-color: none;
}

/* unvisited link */
a
{
  color: dodgerblue;
}

a:hover 
{
    color: black;
    text-decoration: none;
}

p
{
    color: dimgrey;
    margin: 2px auto 2px auto;
}

.bg-color 
{
    color: #FFFFFF;
}

.container 
{
    margin: 3em auto auto auto;
}

.title 
{
    color: dimgrey;
    text-align: center;
    font-size: xx-large;
    margin: auto auto 2em auto;
}

.heading
{
    margin: 1em auto 0.5em auto;
}

/*FONTAWESOME*/
.fab
{
    position: relative;
    bottom: 0em;
}

.icon-cog
{
  color : dodgerblue;
}

/*NAVIGATION*/
.navbar 
{
    margin: auto auto 1em auto;
}

.navbar-brand
{
    font-size: xx-large;
}

.navbar-nav 
{
    margin: auto 0em 0em auto;
}

.logo 
{
    max-height: 75px;
    align-content: center;
}

.nav-item
{
    margin: auto auto auto auto;
}

.nav-hr
{
    margin: auto auto 2em auto;
}


/*THUMBNAILS*/
.row>div
{
    background-color: #FFFFFF;
    background-clip: content-box;
    min-height: 100px;
}

.row 
{
    border: 1px #ccc;
    border-left: 0;
    border-right: 0;
}

.hr 
{
    color:  #FF0000;
    margin: 3em auto 3em auto;
}

.img-thumbnail 
{
    margin: 1em auto auto auto;
    align-content: center;
}

.caption 
{
    margin: auto auto 4em auto;
    text-align: left;
}


/*VFX*/
.vfx_title 
{
    font-size: x-large;
    margin: 2em auto auto auto;
}

.vfx_caption 
{
    margin: 1em auto auto auto;
}


/*FAQ*/
.faq-q
{
    color: dimgrey;
    font-size: x-large;
    margin: 2em auto auto auto;
}

.faq-a
{
    font-size: large;
    margin: 1em auto auto auto;
}

/*FOOTER*/
.page-footer
{
    margin: 5em auto 0em auto;
    
}

.footer-title
{
    margin: 1em auto 0.5em auto;
}

.footer-hr
{
    width: 200px;
    margin: auto auto auto 0em;
}