/*BODY*/

body
{
    background-color: none;
}

.bg-color 
{
    color: #FFFFFF;
}

.container 
{
    margin: 3em auto auto auto;
}


/*NAVIGATION*/
.navbar {
    margin: auto auto 3em auto;
}

.navbar-brand
{
    font-size: xx-large;
}

.navbar-nav 
{
    margin: auto 0em 0em auto;
}

.logo 
{
    max-height: 75px;
    align-content: center;
}

.nav-item
{
    margin: auto auto auto auto;
}

.fab
{
    position: relative;
    bottom: 0em;
}

/*THUMBNAILS*/
.row>div
{
    background-color: #FFFFFF;
    background-clip: content-box;
    min-height: 100px;
}

.row 
{
    border: 1px #ccc;
    border-left: 0;
    border-right: 0;
}

.hr 
{
    color:  #FF0000;
    margin: 3em auto 3em auto;
}

.img-thumbnail 
{
/*    max-height: 300px;*/
    margin: 1em auto auto auto;
    align-content: center;
}

.caption 
{
    margin: auto auto 4em auto;
    text-align: left;
}

/*VFX*/
.vfx_title 
{
    font-size: xx-large;
    margin: 2em auto auto auto;
}

.vfx_caption 
{
    margin: 1em auto auto auto;
}

/*FOOTER*/
.page-footer
{
    margin: 5em auto auto auto;
}